<template>
  <div class="d-flex flex-column" fill-height height="100%">
    <ability-selector
      v-model="pokemon.selectedAbility"
      :abilities="pokemon.getAbilityArray()"
    />
    <item-selector :index="index" :item-array="itemArray" />
    <evolution-container :pokemon="pokemon"></evolution-container>
    <nature-selector v-model="pokemon.nature"></nature-selector>
    <ev-stat-selector
      v-model="pokemon.evs"
      :labels="pokemon.getStatLabels()"
    ></ev-stat-selector>
    <p>{{ pokemon.evs }}</p>
  </div>
</template>

<script>
import AbilitySelector from '../selectors/ability/AbilitySelector'
import ItemSelector from '../selectors/item/ItemSelector'
import NatureSelector from '../selectors/nature/NatureSelector'
import EvStatSelector from '../selectors/evs/EvStatSelector'
import EvolutionContainer from '../selectors/evo/EvolutionContainer'

export default {
  components: {
    AbilitySelector,
    ItemSelector,
    NatureSelector,
    EvStatSelector,
    EvolutionContainer
  },
  props: {
    value: {
      type: Object
    },
    itemArray: {
      type: Array
    },
    index: {
      type: Number
    }
  },
  data() {
    return {
      pokemon: this.value
    }
  },
  watch: {
    itemArray() {},
    value() {
      this.pokemon = this.value
    },
    pokemon() {}
  },
  methods: {
    log() {
      this.pokemon.logEvolutionNamesWithIndex()
      this.pokemon.evolveOneStage()
    }
  }
}
</script>

<style></style>
