<template>
  <div>
    <v-btn @click="dialog = true">EVOLVE ME</v-btn>
    <v-dialog v-model="dialog">
      <v-sheet>
        <div v-for="pokemon in evolutions" :key="pokemon.id" class="d-flex">
          <base-pokemon-container
            :pokemon="pokemon"
            @click.native="selectedPokemon = pokemon"
          ></base-pokemon-container>
          <p>{{ pokemon.getEvolvePrice() }}</p>
        </div>
      </v-sheet>
      <v-sheet>
        <small-evo-details :pokemon="selectedPokemon" />
      </v-sheet>
      <v-btn @click="dialog = false">
        close
      </v-btn>
      <v-btn @click="evolveTo">
        evolve
      </v-btn>
    </v-dialog>
  </div>
</template>

<script>
import SmallEvoDetails from './SmallEvoDetails'

export default {
  components: {
    SmallEvoDetails
  },
  props: {
    evolutions: {
      type: Array
    }
  },
  data() {
    return {
      evos: this.evolutions,
      dialog: false,
      selectedPokemon: this.evolutions[0]
    }
  },
  watch: {
    evolutions() {
      this.selectedPokemon = this.evolutions[this.evolutions.length - 1]
    }
  },
  methods: {
    evolveTo() {
      this.$emit('evolve-to', this.selectedPokemon)
      this.dialog = false
    }
  }
}
</script>

<style></style>
