<template>
  <base-container fluid>
    <base-row>
      <base-col cols="2">
        <team-side-bar
          :picked-pokemon-array="pickedPokemonArray"
          @open-picked-in-selected="openPickedInSelected"
      /></base-col>
      <v-divider vertical light />
      <base-col cols="8" class="d-flex flex-column">
        <smart-pokemon-details :local-pokemon="selectedPokemon"/>
        <v-divider light/>
        <pokemon-footer :drafted-pokemon-array="pokemonArray"/></base-col
      ><v-divider vertical light /><base-col>
        <picked-pokemon-weakness
          :selected-pokemon="selectedPokemon"
          :pokemon="pickedPokemonArray"
        />
      </base-col>
    </base-row>
  </base-container>
</template>

<script>
import PokemonFooter from '@/components/draft/drafted-pokemon/PokemonFooter'
import SmartPokemonDetails from '@/components/draft/selected-pokemon-details/empty-and-actual-component/SmartPokemonDetails'
import TeamSideBar from '@/components/draft/picked-pokemon-sidebar/TeamSideBar'
import draftingService from '@/utils/draftingService'
import PickedPokemonWeakness from '@/components/draft/team-weakness/PickedPokemonWeakness.vue'

import { bus } from '@/main'

export default {
  components: {
    PokemonFooter,
    SmartPokemonDetails,
    TeamSideBar,
    PickedPokemonWeakness
  },

  data() {
    return {
      pokemon: {},
      pokemonArray: [],
      selectedPokemon: undefined,
      pickedPokemonArray: [],
      picking: false,
      viewingAlreadyPicked: false
    }
  },
  computed: {
    hasPickedSixPokemon() {
      return this.pickedPokemonArray.length === 6
    },
    canAffordSelected() {
      return this.canAfford(this.selectedPokemon.getPrice())
    },
    cantAffordAny() {
      return !this.pokemonArray.reduce((acc, curr) => {
        return acc || this.canAfford(curr.getPrice())
      }, false)
    }
  },

  created() {
    this.draft()
    bus.$on('pokemon-selected', pokemon => {
      this.viewingAlreadyPicked = false
      this.selectedPokemon = pokemon
    })
    bus.$on('pokemon-picked', () => {
      this.picked()
    })
    bus.$on('reroll', options => {
      switch (options) {
        case 'normal':
          this.draft()
          break
      }
    })
  },

  methods: {
    draft() {
      this.picking = false
      this.pokemonArray = []
      this.selectedPokemon = null
      this.pokemonArray = draftingService.draftSixPokemon()
      if (this.cantAffordAny) {
        this.pokemonArray = draftingService.draftSixMeowth()
      }
    },
    saveIntoPokemonArray(draftedPokemon) {
      this.pokemonArray = draftedPokemon
    },
    picked() {
      if (this.canAffordSelected && !this.picking) {
        this.picking = true
        this.pickPokemon()
      } else {
        console.log('cannot afford, sorry mate')
      }
    },
    pickPokemon() {
      this.subtractPriceFromMoney()
      this.addRewardToMoney()
      this.pickedPokemonArray.push(this.selectedPokemon)

      if (this.hasPickedSixPokemon) {
        this.$router.push({
          name: 'builder',
          params: { pokemon: this.pickedPokemonArray, money: this.money }
        })
        return
      }
      this.draft()
    },
    addRewardToMoney() {
      this.$store.commit('add', this.selectedPokemon.getReward())
    },
    subtractPriceFromMoney() {
      this.$store.commit('subtract', this.selectedPokemon.getPrice())
    },
    openPickedInSelected(pokemon) {
      this.viewingAlreadyPicked = true
      this.selectedPokemon = pokemon
    }
  }
}
</script>

<style></style>
