<template>
  <img
    :width="width"
    :src="require(`@/assets/question-mark.png`)"
    alt="about to be drafted"
  />
</template>

<script>
export default {
  props: {
    width: {
      type: String
    }
  }
}
</script>

<style></style>
