<template>
  <v-container
    v-if="pickedPokemonArray.length > 0"
    class="d-flex flex-column ma-0 pa-0"
    fill-height
    fluid
  >
    <v-container
      v-for="pokemon in pickedPokemonArray"
      :key="pokemon.id"
      class="d-flex flex-column pa-0 ma-0"
      fluid
    >
      <base-pokemon-container
        class="my-3 mx-auto"
        :pokemon="pokemon"
        @click.native="openPickedInSelected(pokemon)"
      />
      <v-divider class="my-2 pa-0 mx-0" light />
    </v-container>
    <about-to-be-drafted class="py-2" />
  </v-container>
  <base-container v-else class="d-flex flex-column pa-4">
    <about-to-be-drafted />
  </base-container>
</template>

<script>
import AboutToBeDrafted from './AboutToBeDrafted'
//replace pokemon-container with something better
export default {
  components: {
    AboutToBeDrafted
  },
  props: {
    pickedPokemonArray: {
      type: Array
    }
  },
  methods: {
    openPickedInSelected(pokemon) {
      this.$emit('open-picked-in-selected', pokemon)
    },
    selectedDrafted() {
      return
    }
  }
}
</script>

<style></style>
