<template>
  <base-container>
    <v-card-title class="ma-auto"
      >CLICK ON A POKEBALL TO SEE WHATS INSIDE!!</v-card-title
    >
  </base-container>
</template>

<script>
export default {}
</script>

<style></style>
