<template>
  <base-container>
    <base-row>
      <base-col>
        <pokemon-card :pokemon="pokemon" />
      </base-col>
      <v-divider vertical light />
      <base-col class="d-flex flex-column">
        <stat-display :pokemon="pokemon" />
        <v-divider light />
        <pick-section class="d-flex" :pokemon="pokemon" @pick="pick" />
      </base-col>
    </base-row>
  </base-container>
</template>

<script>
import { bus } from '@/main'
import StatDisplay from '../stats/StatDisplay'
import PickSection from '../pick-section/PickSection'
import PokemonCard from '../pokemon-card/PokemonCard'

export default {
  components: {
    StatDisplay,
    PickSection,
    PokemonCard
  },

  props: {
    localPokemon: Object
  },

  data() {
    return {
      pokemon: this.localPokemon
    }
  },

  watch: {
    localPokemon(newValue) {
      console.log(newValue)
      this.pokemon = newValue
    }
  },

  methods: {
    pick() {
      bus.$emit('pokemon-picked', this.pokemon)
    }
  }
}
</script>

<style></style>
