<template>
  <v-col class="ma-0 pa-0" :cols="cols"><slot></slot></v-col>
</template>

<script>
export default {
  props: {
    cols: {
      type: String,
      default: ''
    }
  }
}
</script>

<style></style>
