<template>
  <div class="d-flex flex-column">
    <img
      :src="require(`@/assets/type-headers/${label}.png`)"
      :height="height"
      class="mx-auto mb-2"
    />
    <div v-for="type in types" :key="type.typeName" class="d-flex">
      <img
        :src="require(`@/assets/small-type-icons-text/${type.typeName}.png`)"
        alt="type"
        class="mx-2 my-1"
        :height="height"
      />
      <img
        :src="require(`@/assets/multipliers/X${type.typeValue}.png`)"
        alt="type"
        class="mx-2 my-1"
        :height="height"
      />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    types: {
      type: Array
    },
    height: {
      type: String
    },
    label: {
      type: String
    }
  }
}
</script>

<style></style>
