<template>
  <!-- style="background-color: rgba(125 ,125,125,0.1); border-radius: px" -->
  <v-card :height="height"><slot></slot></v-card>
</template>

<script>
export default {
  props: {
    height: {
      type: String
    }
  }
}
</script>

<style>
.light-shadow-unfocused {
  background-color: white;
  box-shadow: 0 0 10px 2px rgba(231, 227, 227, 0.5);
}
</style>
