<template>
  <v-container class="d-flex pa-0 ma-0 mx-auto" fill-height fluid>
    <slot></slot>
  </v-container>
</template>

<script>
export default {}
</script>

<style>
.red-border {
  border: 10px solid red;
}
</style>
