<template>
  <div
    class="d-flex"
    @mouseenter="tooltip = true"
    @mouseleave="tooltip = false"
  >
    <img
      v-for="type in pokemon.types"
      :key="type"
      :src="require(`@/assets/small-type-icons/${type}.png`)"
      alt="type"
      height="100%"
      class="mx-2"
    />
    <v-tooltip v-model="tooltip" top>
      <weakness-resistance-immunities :pokemon="pokemon" />
    </v-tooltip>
  </div>
</template>

<script>
import WeaknessResistanceImmunities from './WeaknessResistanceImmunities'
export default {
  components: {
    WeaknessResistanceImmunities
  },
  props: {
    pokemon: {
      type: Object
    }
  },
  data() {
    return {
      tooltip: false
    }
  }
}
</script>

<style></style>
