<template>
  <div class="d-flex my-4">
    <base-type-icon :types="weaknesses" :height="height" label="Weakness" />
    <base-type-icon :types="resistances" :height="height" label="Resistance" />
    <base-type-icon
      v-if="hasImmunities"
      :types="immunities"
      :height="height"
      label="Immunity"
    />
  </div>
</template>

<script>
export default {
  props: {
    pokemon: {
      type: Object
    }
  },
  data() {
    return {
      weaknesses: this.pokemon.getWeaknesses(),
      resistances: this.pokemon.getResistances(),
      immunities: this.pokemon.getImmunities(),
      height: '56px'
    }
  },
  computed: {
    hasImmunities() {
      console.log(this.immunities)
      return this.immunities.length > 0
    },
    weaknessKeys() {
      return Object.keys(this.weaknesses)
    },
    resistanceKeys() {
      return Object.keys(this.resistances)
    }
  },
  watch: {
    pokemon() {
      this.weaknesses = this.pokemon.getWeaknesses()
      this.resistances = this.pokemon.getResistances()
      this.immunities = this.pokemon.getImmunities()
    }
  }
}
</script>

<style></style>
