<template>
  <v-select
    v-model="itemText"
    :items="items"
    :item-text="name"
    label="Held Item"
    @input="swapItems"
  ></v-select>
</template>

<script>
import { bus } from '@/main.js'

export default {
  props: {
    index: {
      type: Number
    },
    itemArray: {
      type: Array
    }
  },
  data() {
    return {
      item: this.itemArray[this.index],
      items: this.itemArray
    }
  },
  computed: {
    itemText: {
      get() {
        return `${this.itemArray[this.index].item.name} ${this.index}`
      },
      set(newValue) {
        const index = newValue.split(' ')
        this.item = this.itemArray[index]
      }
    }
  },
  watch: {
    index() {
      this.item = this.itemArray[this.index]
    },
    itemArray() {
      this.items = this.itemArray
    }
  },
  methods: {
    swapItems(arg) {
      const strings = arg.split(' ')
      const pokemonToStealFrom = strings[strings.length - 1]
      const pokemonToGiveTo = this.index
      bus.$emit('swap-items', {
        pokemonToStealFrom,
        pokemonToGiveTo
      })
    },
    name(item) {
      return `${item.item.name} ${item.index}`
    }
  }
}
</script>

<style></style>
