<template>
  <div class="d-flex justify-center">
    <v-btn
      v-for="ability in abilityObjects"
      :key="ability.value"
      x-large
      readonly
      :ripple="false"
      >{{ ability.key }}: {{ ability.value }}</v-btn
    >
  </div>
</template>

<script>
export default {
  props: {
    abilities: {
      type: Object
    }
  },
  computed: {
    abilityObjects() {
      console.log(this.abilities)
      const keys = Object.keys(this.abilities)
      console.log(keys)
      return keys.map(key => {
        return {
          key,
          value: this.abilities[key]
        }
      })
    }
  }
}
</script>

<style></style>
