<template>
  <base-card-wrapper
    class="d-flex flex-column align-center justify-space-around"
    height="100%"
  >
    <h1>{{ pokemon.name }}</h1>
    <img :src="pokemon.getSprite()" width="50%" />
    <type-container :pokemon="pokemon" />
    <abilities :abilities="pokemon.abilities" />
    <h2>{{ pokemon.nature }}</h2>
  </base-card-wrapper>
</template>

<script>
import TypeContainer from '../type/TypeContainer'
import Abilities from './Abilities'

export default {
  components: {
    TypeContainer,
    Abilities
  },
  props: {
    pokemon: {
      type: Object
    }
  }
}
</script>

<style></style>
