<template>
  <base-card-wrapper class="d-flex flex-column" height="95%">
    <v-card-title>Current P$ {{ money }}</v-card-title>
    <v-btn class="my-2 mx-5" @click="pick">PICK</v-btn>
    <v-btn class="my-2 mx-5" @click="reroll"
      >REROLL FOR {{ normalRerollPrice }} P$</v-btn
    >
    <div class="mx-5">
      <ul>
        <li>Cost to Pick: {{ pokemon.getPrice() }}</li>
        <li>Tier: {{ pokemon.getTier() }}</li>
        <li>Reward for Picking {{ pokemon.getReward() }}</li>
        <li>Held Item: {{ pokemon.getHeldItemName() }}</li>
        <li>Nature: {{ pokemon.nature }}</li>
      </ul>
    </div>
  </base-card-wrapper>
</template>

<script>
import { bus } from '@/main.js'
export default {
  props: {
    pokemon: {
      type: Object
    }
  },
  data() {
    return {
      normalRerollPrice: 300
    }
  },
  methods: {
    pick() {
      this.$emit('pick')
    },
    reroll() {
      if (this.canAfford(this.normalRerollPrice)) {
        this.$store.commit('subtract', this.normalRerollPrice)
        bus.$emit('reroll', 'normal')
      } else {
        console.log('cant afford sorry mate')
      }
    }
  }
}
</script>

<style></style>
