<template>
  <div>
    <uncovered-types :covered-types="uniqueAndFlattenedArray" />
  </div>
</template>

<script>
import UncoveredTypes from './UncoveredTypes'

export default {
  components: {
    UncoveredTypes
  },
  props: {
    pokemon: {
      type: Array
    },
    selectedPokemon: {
      type: Object
    }
  },
  computed: {
    uniqueAndFlattenedArray() {
      return [...new Set(this.arrayOfResistances(this.pokemon).flat(1))]
    }
  },
  methods: {
    arrayOfResistances(arrayOfPokemon) {
      return arrayOfPokemon.map(pokemon =>
        pokemon
          .getResistances()
          .map(weakness => weakness.typeName)
          .concat(pokemon.getImmunities().map(immunity => immunity.typeName))
      )
    }
  }
}
</script>

<style></style>
