<template>
  <div>
    <img
      v-for="type in uncoveredTypes"
      :key="type"
      :src="require(`@/assets/small-type-icons-text/${type}.png`)"
      :alt="type"
    />
  </div>
</template>

<script>
export default {
  props: {
    coveredTypes: {
      type: Array
    },
    lookingAtSelected: {
      type: Boolean
    },
    selectedPokemon: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      types: [
        'Water',
        'Fire',
        'Grass',
        'Ground',
        'Rock',
        'Steel',
        'Ice',
        'Electric',
        'Dragon',
        'Ghost',
        'Psychic',
        'Normal',
        'Fighting',
        'Poison',
        'Bug',
        'Flying',
        'Dark',
        'Fairy'
      ]
    }
  },
  computed: {
    uncoveredTypes() {
      if (this.coveredTypes) {
        return this.types.filter(type => !this.coveredTypes.includes(type))
      } else {
        return this.types
      }
    },
    typesSelectionWillCover() {
      return console.log('todo type selected will cover')
    }
  },
  created() {
    console.log(this.uncoveredTypes)
  }
}
</script>

<style></style>
